*.mode1v3
*.pbxuser
build/
obj/
*.o
*.exe
.DS_Store
Debug/
Release/
.vs/
html/
latex/
data/
*.dll
#*.lib
*.ncb
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.filters

#codeblocks files
*/*/*.layout
*/*/*.depend

Docs/html
Docs/latex


